<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Book preview</title>
</head>
<body>
    
    <nav class="app-nav navbar navbar-expand-md">
      <div class="app__cotaniner container-fluid justify-content-around">
        <a class="navbar-brand" href="/">
          Quang Book Preview
        </a>

        <!-- <div>
          <label for="search-book" class="fw-bold text-white">Search for book:</label>
          <input type="text" id="search-book" name="search-book">
        </div> -->

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" aria-current="page" href="/">
              Home
            </a>
            <!-- Handle CRUD to modifiying route: -->
            <a class="nav-link" href="/lists">
              List of books
            </a>
            <!-- Create new item route: -->
            <a class="nav-link" href="/new">
              New review
            </a>
          </div>

          <div class="search d-flex" role="search">
            <input class="nav-search form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <ul class="search-list list-group" hidden>
              <li class="list-group-item d-flex">
                <img src="https://covers.openlibrary.org/b/id/240727-S.jpg" alt="" class="item-img">

                <div class="item-desc ps-3">
                  <p class="fs-6 fw-bold m-0">Hello World</p>
                  <p class="fs-6 fw-light">Quang P.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>